@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-950: #242a45;
  --color-blue-600: #5267df;
  --color-grey-600: #5b6074;
  --color-grey-50: #f7f7f7;
  --color-red-400: #fa5959;
  --text-*: initial;

  --text-1: 3rem;
  --text-1--line-height: 1.1;
  --text-1--letter-spacing: normal;
  --text-1--font-weight: 500;

  --text-2: 2rem;
  --text-2--line-height: 1.25;
  --text-2--letter-spacing: -0.00625rem;
  --text-2--font-weight: 500;

  --text-3: 1.25rem;
  --text-3--line-height: 1.2;
  --text-3--letter-spacing: 0.015625rem;
  --text-3--font-weight: 500;

  --text-4: 1.125rem;
  --text-4--line-height: 1.55;
  --text-4--letter-spacing: normal;
  --text-4--font-weight: 400;

  --text-5-light: 1rem;
  --text-5-light--line-height: 2.25;
  --text-5-light--letter-spacing: 0.03125rem;
  --text-5-light--font-weight: 300;

  --text-5-regular: 1rem;
  --text-5-regular--line-height: 1.1;
  --text-5-regular--letter-spacing: 0.03125rem;
  --text-5-regular--font-weight: 400;

  --text-6-medium: 0.875rem;
  --text-6-medium--line-height: 2;
  --text-6-medium--letter-spacing: 0.015625rem;
  --text-6-medium--font-weight: 500;

  --text-6-regular: 0.875rem;
  --text-6-regular--line-height: 2;
  --text-6-regular--letter-spacing: 0.015625rem;
  --text-6-regular--font-weight: 400;

  --text-6-semibold: 0.875rem;
  --text-6-semibold--line-height: 3;
  --text-6-semibold--letter-spacing: 0.3125rem;
  --text-6-semibold--font-weight: 600;

  --text-7: 0.625rem;
  --text-7--line-height: 1.2;
  --text-7--letter-spacing: 0.015625rem;
  --text-7--font-weight: 500;

  --text-1-mobile: 1.875rem;
  --text-1-mobile--line-height: 1.35;
  --text-1-mobile--letter-spacing: normal;
  --text-1-mobile--font-weight: 500;

  --text-2-mobile-medium: 0.9375rem;
  --text-2-mobile-medium--line-height: 2;
  --text-2-mobile-medium--letter-spacing: normal;
  --text-2-mobile-medium--font-weight: 500;

  --text-2-mobile-regular: 0.9375rem;
  --text-2-mobile-regular--line-height: 1.65;
  --text-2-mobile-regular--letter-spacing: normal;
  --text-2-mobile-regular--font-weight: 400;

  --text-2-mobile-light: 0.9375rem;
  --text-2-mobile-light--line-height: 2;
  --text-2-mobile-light--letter-spacing: normal;
  --text-2-mobile-light--font-weight: 300;

  --text-3-mobile-medium: 0.75rem;
  --text-3-mobile-medium--line-height: 3;
  --text-3-mobile-medium--letter-spacing: 0.3125rem;
  --text-3-mobile-medium--font-weight: 500;

  --text-4-mobile: 0.625rem;
  --text-4-mobile--line-height: 1.2;
  --text-4-mobile--letter-spacing: 0.015625rem;
  --text-4-mobile--font-weight: 500;

  --font-display: "Rubik", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    src: local("Rubik"),
      url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Rubik";
    font-style: italic;
    src: local("Rubik"),
      url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  }
}
